* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #242333;
    color: #fff;
    font-family: "Bree Serif", serif;

}

#navbar {
    /* background-color: aqua;
    border: 3px solid red; */
    display: flex;
    justify-content: space-between;
}


#logo {
    margin: 0px 30px;
    /* background-color: green;
    border: 2px solid pink; */
}

#headers {
    /* background-color: pink;
    border: 2px solid green; */
    margin-left: 10px;

    display: flex;
    align-items: flex-start;
}

.help {
    cursor: pointer;
    padding: 6px 20px;
    border: 2px solid #3a3a3a;
    background-color: #000734;
    color: white;
    margin: 4px;
    font-size: 1rem;
    border-radius: 10px;

    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.help:hover {
    box-shadow: 0px 3px 2px -1px #0c426d;
}

.reset {
    cursor: pointer;
    padding: 6px 20px;
    border: 2px solid #3a3a3a;
    background-color: #270000;
    color: white;
    margin: 4px;
    font-size: 1rem;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.reset:hover {
    box-shadow: 0px 3px 2px -1px #742727;
}

#tooltip_reset {
    padding: 4px 12px;
    width: 100px;
    border: 2px solid #3a3a3a;
    background-color: #270000;
    color: white;
    margin: 0px;
    font-size: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    margin-left: 4px;
}

#logo img {
    height: 65px;
    margin: 14px -9px;
    padding: 8px;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
}


.coantainer {
    display: block;
    width: 100%;
}

.coach {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;

}

.row {
    /* background-color: red;
    border: 2px solid black; */
    margin: 4px 5px;
    display: flex;
    width: 30%;
    height: 40px;

}

.seat {
    width: 13%;
    /* aspect-ratio: 1 / 1; */
    /* height: 90%; */
    /* border: 2px solid green; */
    /* margin: auto; */
    text-align: center;
    display: flex;
    flex-direction: column-reverse;

    background-color: #444451;
    margin: 3px auto;
    font-size: 0.8rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px 2px;
}


.btn {
    /* margin: 10px 20px; */

    padding: 6px 20px;
    border: 2px solid #3a3a3a;
    background-color: #14193859;
    color: white;
    margin: 4px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    /* box-shadow: 0 9px #999; */
    box-shadow: 0px 6px 2px 0px #0e1921;
}

.btn_active {
    background-color: #141938;
    /* border: 2px solid #ffffff; */
    box-shadow: 0px 3px 2px 0px #0e1921;
    transform: translateY(2px);
}


/* Utility class */
.h-primary {
    font-size: 3.1rem;
    padding: 12px;
    font-family: "Bree Serif", serif;
    text-align: center;
}

.h-secondary {
    font-family: "Bree Serif", serif;
    font-size: 1.8rem;
    padding: 12px;
}

footer {
    background: #00041f;
    margin-top: 100px;
    color: white;
    padding: 9px 20px;
}

.center {
    text-align: center;
}

.tooltip {
    position: relative;
    /* display: inline-block; */
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    /* visibility: hidden; */
    /* visibility: visible; */
    /* display: none; */
    /* display: block; */
    width: 225px;
    background-color: #1b1d36;
    color: #ffffff;
    text-align: justify;
    border: 2px solid white;
    border-radius: 6px;
    padding: 9px 10px;
    position: absolute;
    z-index: 1;
    top: 132%;
    left: 23%;
    margin-left: -75px;
    font-size: 0.9rem;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 30%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}



.desc_mode h3 {
    /* width: 100%; */
    text-align: center;
    font-weight: normal;
    color: #9beaed;
}

.modes {
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    /* border: 2px solid black; */
    /* padding: 10px 40px; */
}