* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #242333;
    color: #fff;
    font-family: "Bree Serif", serif;

}

#navbar {
    /* background-color: aqua;
    border: 3px solid red; */
    display: flex;
    justify-content: space-between;
}


#logo {
    margin: 0px 30px;
    /* background-color: green;
    border: 2px solid pink; */
}

#headers {
    /* background-color: pink;
    border: 2px solid green; */
    margin-left: 10px;

    display: flex;
    align-items: flex-start;
}

.help {
    cursor: pointer;
    padding: 6px 20px;
    border: 2px solid #3a3a3a;
    background-color: #000734;
    color: white;
    margin: 4px;
    font-size: 1rem;
    border-radius: 10px;

    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.help:hover {
    box-shadow: 0px 3px 2px -1px #0c426d;
}

.help:hover .tooltiptext {
    visibility: visible;

}

.tooltip {
    position: relative;
    /* display: inline-block; */
    border-bottom: 1px dotted black;
}

.tooltiptext {
    visibility: hidden;

    /* display: none; */
    /* display: block; */
    width: 225px;
    background-color: #1b1d36;
    color: #ffffff;
    text-align: justify;
    border: 2px solid white;
    border-radius: 6px;
    padding: 9px 10px;
    position: absolute;
    z-index: 1;
    top: 132%;
    left: 23%;
    margin-left: -75px;
    font-size: 0.9rem;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 30%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.reset {
    cursor: pointer;
    padding: 6px 20px;
    border: 2px solid #3a3a3a;
    background-color: #270000;
    color: white;
    margin: 4px;
    font-size: 1rem;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.reset:hover {
    box-shadow: 0px 3px 2px -1px #742727;
}

#tooltip_reset {
    padding: 4px 12px;
    width: 100px;
    border: 2px solid #3a3a3a;
    background-color: #270000;
    color: white;
    margin: 0px;
    font-size: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    margin-left: 4px;
}

#logo img {
    height: 65px;
    margin: 14px -9px;
    padding: 8px;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
}


.coantainer {
    display: block;
    width: 100%;
}

.coach {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;

}

.row {
    /* background-color: red;
    border: 2px solid black; */
    margin: 4px 5px;
    display: flex;
    width: 30%;
    height: 40px;

}

.seat {
    width: 13%;
    /* aspect-ratio: 1 / 1; */
    /* height: 90%; */
    /* border: 2px solid green; */
    /* margin: auto; */
    text-align: center;
    display: flex;
    flex-direction: column-reverse;

    background-color: #444451;
    margin: 3px auto;
    font-size: 0.8rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px 2px;
}


.btn {
    /* margin: 10px 20px; */

    padding: 6px 20px;
    border: 2px solid #3a3a3a;
    background-color: #14193859;
    color: white;
    margin: 4px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    /* box-shadow: 0 9px #999; */
    box-shadow: 0px 6px 2px 0px #0e1921;
}

.btn_active {
    background-color: #141938;
    border: 2px solid #e1e2f2;
    box-shadow: 0px 3px 2px 0px #0e1921;
    transform: translateY(2px);
}


/* Utility class */
.h-primary {
    font-size: 3.1rem;
    padding: 12px;
    font-family: "Bree Serif", serif;
    text-align: center;
}

.h-secondary {
    font-family: "Bree Serif", serif;
    font-size: 1.8rem;
    padding: 12px;
}

footer {
    background: #00041f;
    margin-top: 100px;
    color: white;
    padding: 9px 20px;
}

.center {
    text-align: center;
}





.desc_mode h3 {
    /* width: 100%; */
    text-align: center;
    font-weight: normal;
    color: #9beaed;
}

.modes {
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    /* border: 2px solid black; */
    /* padding: 10px 40px; */
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    position: fixed;
    top: 86px;
    right: 50px;
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

}

/* Add Animation */


@keyframes animatetop {
    from {
        top: -200px;
        opacity: 0
    }

    to {
        top: 86px;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: #6c5b5b;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    /* background-color: #5cb85c; */
    color: black;
    border-bottom: 2px solid #d3d1d1;
}

.modal-body {
    padding: 18px 10px 0px 10px;
}

.modal-footer {
    padding: 20px 25px;
    color: black;
}

#modal_head {
    font-size: 1rem;
}

.confirm {
    cursor: pointer;
    padding: 6px 20px;
    border: 2px solid #3a3a3a;
    background-color: #0e8d00d9;
    color: white;
    margin: 4px;
    font-size: 1rem;
    border-radius: 10px;
}

.confirm:hover:enabled {
    box-shadow: 0px 3px 2px -1px #3fff2871;
}

.confirm:disabled,
.confirm[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.reject {
    cursor: pointer;
    padding: 6px 20px;
    border: 2px solid #3a3a3a;
    background-color: #d90000;
    color: white;
    margin: 4px;
    font-size: 1rem;
    border-radius: 10px;

}

.reject:hover {
    box-shadow: 0px 3px 2px -1px #ba4141;
}

.success_text {
    /* visibility: hidden; */

    color: green;
    background-color: lightgreen;
    border-radius: 4px;
    height: 35px;
    font-size: 1rem;
    padding: 5px 10px;
}

#success_text_book {
    height: auto;
}

.failure_text {
    color: #a50505;
    background-color: rgb(209, 119, 119);
    border-radius: 4px;
    height: 35px;
    font-size: 1rem;
    padding: 5px 10px;
}

.showcase .seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}

.index {
    width: 24%;
    /* background-color: red; */
    border: 2px solid white;
    border-radius: 5px;
    margin: 20px auto;
}

.seatmap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.showcase {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    /* border: 2px solid white; */
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    /* background: yellow;
    border: 4px solid pink; */
}

.showcase li small {
    margin-left: 2px;
}

.seat1 {

    background-color: #444451;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat1.selected {
    background-color: green;
}

.seat1.sold {
    background-color: #fff;
}

.seat.selected {
    background-color: green;
}

.seat.sold {
    background-color: #fff;
    color: black;
}

.seat:not(.sold):not(.mode2_active):hover {
    cursor: pointer;
    transform: scale(1.13);
}

@media only screen and (min-width:850px) and (max-width: 1310px) {
    .seat1 {
        width: 15px;
        height: 18px;
    }
}

#mode2_lower_div {
    width: 24%;
    /* background-color: red;
    border: 2px solid white; */
    /* border-radius: 5px; */
    margin: 20px auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#lower_message p {
    width: 24%;
    margin: 20px auto;
    text-align: center;
}

#mode2_lower_btn {

    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.text {
    margin: 5px 0;
    text-align: center;
}

p.text span {
    color: rgb(158, 248, 158);
}

#mode1_lower_div {
    width: 50%;
    margin: 20px auto;

}

#mode1_form {
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=number],
select {
    width: 125px;
    padding: 5px 6px;
    margin: 8px 20px;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

.form-group {
    font-size: 1.3rem;
}